{% extends 'layout.html.twig' %}

{% block title equipo ~ " - Puntuación" %}

{% block content %}
    <h1 class="well">{{ equipo }}</h1>
    <img src="{{ path('emblema_equipo', {'equipo': equipo.id}) }}" width="100" height="100"/>
    <h2>Puntuación actual: {{ puntuacion }}</h2>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="col-sm-2">Fecha/hora</th>
                <th class="col-sm-7">Concepto</th>
                <th class="col-sm-2">Puntuación</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for anotacion in equipo.anotaciones %}
            <tr>
                <td>{{ anotacion.fechaHora | date('d/m/Y H:s') }}</td>
                <td>{{ anotacion.concepto }}</td>
                <td>{{ anotacion.puntuacion }}</td>
                <td><a href="" class="btn btn-xs btn-warning"><i class="fa fa-pencil"> Modificar</i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay puntuaciones asociadas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado de equipos</a>
{% endblock %}
